<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Persons database</title>
</head>
<body>
<a href="/user/new">Add new user</a>
</hr>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Mail</th>
    </tr>
    <tr th:each="user: ${users}">
        <td><a th:href="@{/user/{id}(id=${user.getId()})}" th:text="${user.getName}">Name</a></td>
        <td th:text="${user.getLastName()}">Last name</td>
        <td th:text="${user.getMail()}">Mail</td>
    </tr>
</table>
</body>
</html>